
# Notebook with snippets for data cleaning and basic EDA

**References**

https://github.com/ChawlaAvi/Daily-Dose-of-Data-Science/tree/main/Pandas

# Basic Libraries

In [ ]:
#%load_ext cudf.pandas # speed up pandas
import pandas as pd
import numpy as np

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Settings

In [ ]:
# number formatting
pd.options.display.float_format = '{:,.2f}'.format
# pd.set_option('display.float_format', lambda x: '%.2f' % x)

# max rows and columns to show
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

# Importing Data

In [ ]:
# from Github
df = pd.read_csv(
    filepath_or_buffer = 'https://raw.githubusercontent.com//gsrubio/portfolio/main/datasets/supermarket_sales.csv', # replace github.com for raw.githubusercontent.com/ and remove the 'blob'
    sep=',',
    decimal='.',
    parse_dates=[10], # date column
    )

## Personalize data importing

In [ ]:
# import a few rows to check the dataset structure
#df = pd.read_csv('data.csv', nrows=100)

# import only the selected columns
#pd.read_csv("data.csv", usecols=["date", "price"])

# change data types
#pd.read_csv("data.csv", dtype={"house_type": "category"})

# parse dates
#df = pd.read_csv('data.csv', parse_dates=[0]) # or parse_dates={'date': ['year', 'month', 'day']}; optional: dayfirst=True

# set date column as index
#pd.read_csv("data.csv", index_col="date")

# reading multiple files
#import glob
#import os
#files = glob.glob("file_*.csv")
#result = pd.concat([pd.read_csv(f) for f in files], ignore_index=True)

# Data validation and cleaning

In [ ]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.14,548.97,2019-01-05,13:08,Ewallet,522.83,4.76,26.14,9.10
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.82,80.22,2019-03-08,10:29,Cash,76.40,4.76,3.82,9.60
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.22,340.53,2019-03-03,13:23,Credit card,324.31,4.76,16.22,7.40
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.29,489.05,2019-01-27,20:33,Ewallet,465.76,4.76,23.29,8.40
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.21,634.38,2019-02-08,10:37,Ewallet,604.17,4.76,30.21,5.30

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   datetime64[ns]
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(8)
memory usage: 132.9+ KB

In [ ]:
df.isnull().sum()

Invoice ID                 0
Branch                     0
City                       0
Customer type              0
Gender                     0
Product line               0
Unit price                 0
Quantity                   0
Tax 5%                     0
Total                      0
Date                       0
Time                       0
Payment                    0
cogs                       0
gross margin percentage    0
gross income               0
Rating                     0
dtype: int64

In [ ]:
df.nunique()

Invoice ID                 1000
Branch                        3
City                          3
Customer type                 2
Gender                        2
Product line                  6
Unit price                  943
Quantity                     10
Tax 5%                      990
Total                       990
Date                         89
Time                        506
Payment                       3
cogs                        990
gross margin percentage       1
gross income                990
Rating                       61
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df['Invoice ID'].duplicated().sum()

0

In [ ]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,Date,cogs,gross margin percentage,gross income,Rating
count,"1,000.00","1,000.00","1,000.00","1,000.00",1000,"1,000.00","1,000.00","1,000.00","1,000.00"
mean,55.67,5.51,15.38,322.97,2019-02-14 00:05:45.600000,307.59,4.76,15.38,6.97
min,10.08,1.00,0.51,10.68,2019-01-01 00:00:00,10.17,4.76,0.51,4.00
25%,32.88,3.00,5.92,124.42,2019-01-24 00:00:00,118.50,4.76,5.92,5.50
50%,55.23,5.00,12.09,253.85,2019-02-13 00:00:00,241.76,4.76,12.09,7.00
75%,77.94,8.00,22.45,471.35,2019-03-08 00:00:00,448.91,4.76,22.45,8.50
max,99.96,10.00,49.65,"1,042.65",2019-03-30 00:00:00,993.00,4.76,49.65,10.00
std,26.49,2.92,11.71,245.89,NaN,234.18,0.00,11.71,1.72

In [ ]:
df['Product line'].unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

## Date Transformations

In [ ]:
# convert to date time
df['starts_at_date'] = pd.to_datetime(df['starts_at_date'])

In [ ]:
# truncate dates
df = (df
      .assign(
          year = df['Date'].dt.year
          ,month = df['Date'].dt.month
          ,week = df['Date'].dt.isocalendar().week
          ,month_year = df['Date']
                        .dt.to_period('M') # truncate month-year
                        .dt.to_timestamp()
          ,week_year = df['Date']
                .dt.to_period('W') # truncate week-year
                .dt.to_timestamp()
      )
)

## Creating new categories

In [ ]:
df = (df
      .assign(
          macro_category = np.select(
                 [
                  df['Product line'].isin(['Health and beauty', 'Electronic accessories', 'Home and lifestyle']),
                  df['Product line'].str.contains('Home'),
                  df['Product line'].isin(['Sports and travel', 'Food and beverages', 'Fashion accessories']),
                  df['Product line'].notnull() == True
                 ],
                 ['Category 1', 'Category 1', 'Category 2', 'Other']
          )
          ,price_category = np.where(df['Total'] > 500, 'Expensive', 'Not Expensive')
      )
)

In [ ]:
# create conditions based on gross income
conditions = [
    (df['gross income'] < 10),
    (df['gross income'] >= 10) & (df['gross income'] < 20),
    (df['gross income'] >= 20)
]
categories = ['<10','10-20', '>20']

# create categories
df['gross income category'] = np.select(conditions, categories)

# cast to categorical type and order based on categories array
df['gross income category'] = pd.Categorical(df['gross income category'], categories=categories, ordered=True)

In [ ]:
# Calculate median
q50 = df['cogs'].quantile(0.50)

# Create new column based on median
df['cogs category'] = np.where(df['cogs'] < q50, 'low cogs', 'high cogs')

In [ ]:
# Calculate quartiles
q25 = df['cogs'].quantile(0.25)
q50 = df['cogs'].quantile(0.50)
q75 = df['cogs'].quantile(0.75)

# Create new column based on quartiles
df['cogs quartile'] = np.where(df['cogs'] < q25, 'q25',
                                np.where(df['cogs'] < q50, 'q50',
                                        np.where(df['cogs'] < q75, 'q75', 'q100')))

# cast to categorical and define order
category_order = ['q25','q50','q75','q100']
df['cogs quartile'] = pd.Categorical(df['cogs quartile'], categories=category_order, ordered=True)

## Removing observations with N/A Values

In [ ]:
# check for na values
df.isna()

# % of na per column
sum(pd.isna(renewal_df.tiers)) / renewal_df.shape[0]

In [ ]:
# remove records with no invoice id
df.dropna(subset=['Invoice ID'], inplace=True)

## Replacing values

In [ ]:
# replace one value for another
df['Customer type'] = df['Customer type'].replace('Normal', 'Non-Member')

# replace values using regex
df['Payment'] = df['Payment'].replace(to_replace=r'.*card.*', value='Card', regex=True)

## Renaming columns

In [ ]:
df = (df
      .rename(columns ={
          'Date':'payment_date'
          ,'Invoice ID':'invoice_id'
      })
)

In [ ]:
df_pre = df.rename(columns=lambda x: x.replace('pre_', ''))

##Drop columns

In [ ]:
df.drop(columns=['B', 'C'])

KeyError: "['B', 'C'] not found in axis"

## Combining Tables (JOIN)

In [ ]:
df_left = df.query("Gender == 'Female'").groupby(by=['City']).agg(female_gross_income=('gross income','sum'))
df_right = df.query("Gender == 'Male'").groupby(by=['City']).agg(male_gross_income=('gross income','sum'))


df_merged = df_left.merge(df_right, how='left', on=['City']).reset_index()
df_merged

In [ ]:
# on index
df_concat = pd.concat([df_left, df_right], axis=1)

## Combining Tables (UNION)

In [ ]:
df_left = df.query("Gender == 'Female'").groupby(by=['City']).agg(female_gross_income=('gross income','sum')).reset_index()
df_right = df.query("Gender == 'Male'").groupby(by=['City']).agg(male_gross_income=('gross income','sum')).reset_index()

df_concat = pd.concat([df_left, df_right], ignore_index=True)
df_concat

# Filtering

In [ ]:
df_filtered = df.query("macro_category == 'Category 1' and City != 'Yangon' and Quantity in (5,6,7)")
df_filtered.head()

In [ ]:
qtd = 5

df_filtered = df.query("Quantity == @qtd+1")
df_filtered.head()

In [ ]:
# filter only users that have the end date between 2022-07-01 and 2023-07-01
import datetime

cohort_idx = (renewal_df['ends_at_date'] >= datetime.datetime.strptime('2022-07-01', '%Y-%m-%d')) \
              & (renewal_df['ends_at_date'] <= datetime.datetime.strptime('2023-07-01', '%Y-%m-%d'))

renewal_df = renewal_df[cohort_idx]

# Encoding

In [ ]:
# one hot enconding
renewal_df = pd.concat([renewal_df, pd.get_dummies(renewal_df.tiers, prefix='tier')], axis=1)

# Grouping Data

## Percentage of Total

In [ ]:
# % of total for binary feature
renewal_df.renewal_binary_flag.value_counts()/ renewal_df.shape[0]

In [ ]:
# total orders (to calculate % per segment)
total_orders = df['invoice_id'].nunique()

# Group the data and calculate metrics
df_grouped = (df
          .groupby('Product line', as_index=False, dropna=False)
          .agg(
              orders=('invoice_id', pd.Series.nunique),
              revenue=('Total', 'sum')
          )
          .sort_values(by='revenue', ascending=False)
          .assign(
              **{
                '% total orders': lambda x: x['orders'] / total_orders,
                '% revenue': lambda x: x['revenue'] / x['revenue'].sum()
                }
          )
)

# Add a row at the bottom with totals
totals_row = {
    'Product line': 'TOTAL',
    'orders': df['invoice_id'].nunique(),
    'revenue': df['Total'].sum(),
    '% total orders': df_grouped['% total orders'].sum(),
    '% revenue': df_grouped['% revenue'].sum()
}

# add total row to the dataframe
totals_row_df = pd.DataFrame(totals_row, index=[0])
df_grouped = pd.concat([df_grouped, totals_row_df], ignore_index=True)

# format for better reading
df_grouped = df_grouped.style.format(
              {
                'revenue': 'R${:,.0f}'.format,
                '% total orders': '{:,.0%}'.format,
                '% revenue': '{:,.0%}'.format
              },
              decimal=',',
              thousands='.',
              precision=2
            )

df_grouped

## Cummulative sum

In [ ]:
# Group the data and calculate metrics
df_grouped = (df
          .groupby('Product line', as_index=False, dropna=False)
          .agg(
              revenue=('Total', 'sum')
          )
          .sort_values(by='revenue', ascending=False)
          .assign(
              **{
                '% revenue': lambda x: x['revenue'] / x['revenue'].sum(),
                'cummulative % revenue': lambda x: x['revenue'].cumsum() / x['revenue'].sum()
                }
          )
)

# format for better reading
df_grouped = df_grouped.style.format(
              {
                'revenue': 'R${:,.0f}'.format,
                '% revenue': '{:,.0%}'.format,
                'cummulative % revenue': '{:,.0%}'.format
              },
              decimal=',',
              thousands='.',
              precision=2
            )

df_grouped

## Multiple Tables

In [ ]:
cities = df.City.unique()

for city in cities:
  # filter city to print table
  df_city = df.query("City == @city")

  # Group the data and calculate metrics
  df_grouped = (df_city
            .groupby('Product line', as_index=False, dropna=False)
            .agg(
                revenue=('Total', 'sum')
            )
            .sort_values(by='revenue', ascending=False)
            .assign(
                **{
                  '% revenue': lambda x: x['revenue'] / x['revenue'].sum(),
                  'cummulative % revenue': lambda x: x['revenue'].cumsum() / x['revenue'].sum()
                  }
            )
  )

  # format for better reading
  df_grouped = df_grouped.style.format(
                {
                  'revenue': 'R${:,.0f}'.format,
                  '% revenue': '{:,.0%}'.format,
                  'cummulative % revenue': '{:,.0%}'.format
                },
                decimal=',',
                thousands='.',
                precision=2
              )

  print(f'Table for {city}')
  display(df_grouped)
  print()

## Avg Target metric per group

In [ ]:
# CVR (target_col) per group (c in feature_col)
for c in feature_col:
    if c in num_feat_col:
        continue
    print(renewal_df.loc[:, [c] + [target_col]].groupby([c]).mean())